*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,body{
    height: 100vh;
    width: 100vw;
    background: rgb(118, 164, 239);
    font: normal 15pt Arial;
}

header{
    color: white;
    text-align: center;
}

main{
    position: relative;
    height: 300px;
    width: 500px;
    margin: auto;
}

section{
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;

    background-color: white;
    height: 200px;
    width: 350px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);

    transform: translate(-50%, -50%);
}

section > p {
    font-size: 1em;
    margin: 10px;
    text-align: center;
    margin-bottom: 10px;
}

section > div#botoes{
    text-align: center;
    padding: 10px;
} 

div#print{
    text-align: center;
    font-style: italic;
}

 input{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    height: 100px;
    width: 100px;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}
